* {
	margin: 0;
	padding: 0;
}

body {
}

#tabs {
	padding: 10px 10px 0 10px;
}

#tabs ul {
	list-style-type: none;
}

#tabs ul li {
	border: 1px solid #ccc;
	border-bottom: 0;
	display: inline;
	float: left;
	list-style-type: none;
	text-align: center;
	width: 100px;
	margin-right: 2px;
}

#tabs ul li a {
	text-decoration: none;	
	display: block;
	line-height: 30px;
}

#tabs ul li.selected a {
	background-color: blue;
	color: #fff;
}

#tabs ul li a:hover {
	background-color: red;
	color: #fff;
}

#content {
	border-top: 1px solid #ccc;
	clear: both;
	padding: 20px;
}